# --- DESENVOLVIMENTO ---
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO?schema=public"

# --- PRODUCAO ---
#DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO?schema=public"
#DIRECT_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO?schema=public"

PORT=
JWT_SECRET=""
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=